In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('cardata.csv', encoding='latin-1')

In [3]:
data.head(2)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage(km/ltr/kg),engine,max_power,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0

In [4]:
data.shape

(8128, 12)

In [5]:
data['max_power'] = pd.to_numeric(data['max_power'], errors='coerce')

# Calculate the mean of the 'max_power' column, excluding null values
mean_max_power = data['max_power'].mean()

# Replace null values in the 'max_power' column with the calculated mean
data['max_power'].fillna(mean_max_power, inplace=True)

C:\Users\SAMARASINGHAGMV\AppData\Local\Temp\ipykernel_14020\146656351.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['max_power'].fillna(mean_max_power, inplace=True)

In [10]:
mean01 = data['seats'].mean()
data['seats'].fillna(mean01,inplace=True)

C:\Users\SAMARASINGHAGMV\AppData\Local\Temp\ipykernel_14020\4158747133.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['seats'].fillna(mean01,inplace=True)

In [11]:
data.isnull().sum()

name                  0
year                  0
selling_price         0
km_driven             0
fuel                  0
seller_type           0
transmission          0
owner                 0
mileage(km/ltr/kg)    0
engine                0
max_power             0
seats                 0
dtype: int64

In [12]:
data['seats']

0       5.0
1       5.0
2       5.0
3       5.0
4       5.0
       ...
8123    5.0
8124    5.0
8125    5.0
8126    5.0
8127    5.0
Name: seats, Length: 8128, dtype: float64

In [13]:
data['seats']

0       5.0
1       5.0
2       5.0
3       5.0
4       5.0
       ...
8123    5.0
8124    5.0
8125    5.0
8126    5.0
8127    5.0
Name: seats, Length: 8128, dtype: float64

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                8128 non-null   object
 1   year                8128 non-null   int64
 2   selling_price       8128 non-null   int64
 3   km_driven           8128 non-null   int64
 4   fuel                8128 non-null   object
 5   seller_type         8128 non-null   object
 6   transmission        8128 non-null   object
 7   owner               8128 non-null   object
 8   mileage(km/ltr/kg)  8128 non-null   float64
 9   engine              8128 non-null   float64
 10  max_power           8128 non-null   float64
 11  seats               8128 non-null   float64
dtypes: float64(4), int64(3), object(5)
memory usage: 762.1+ KB

In [15]:
data.corr()['selling_price']

ValueError: could not convert string to float: 'Maruti Swift Dzire VDI'

In [16]:
data['name'].value_counts()

name
Maruti Swift Dzire VDI                             129
Maruti Alto 800 LXI                                 82
Maruti Alto LXi                                     71
BMW X4 M Sport X xDrive20d                          62
Maruti Swift VDI                                    61
                                                  ...
Skoda Fabia 1.4 TDI Ambiente                         1
Mahindra Scorpio VLX 2WD AT BSIII                    1
Renault KWID Climber 1.0 AMT                         1
Mahindra XUV300 W8 Option Dual Tone Diesel BSIV      1
Toyota Innova 2.5 GX (Diesel) 8 Seater BS IV         1
Name: count, Length: 2058, dtype: int64

In [17]:
def add_company(inpt):
    if inpt == 'Maruti Swift Dzire VDI' or inpt == 'Maruti Alto 800 LXI' or inpt == 'Maruti Alto LXi' or inpt == 'BMW X4 M Sport X xDrive20d' or inpt == 'Maruti Swift VDI':
        return inpt
    else:
        return 'Other'

In [18]:
data['name'] = data['name'].apply(add_company)

In [19]:
data['name'].value_counts()

name
Other                         7723
Maruti Swift Dzire VDI         129
Maruti Alto 800 LXI             82
Maruti Alto LXi                 71
BMW X4 M Sport X xDrive20d      62
Maruti Swift VDI                61
Name: count, dtype: int64

In [20]:
data['fuel'].value_counts()

fuel
Diesel    4402
Petrol    3631
CNG         57
LPG         38
Name: count, dtype: int64

In [21]:
data['seller_type'].value_counts()

seller_type
Individual          6766
Dealer              1126
Trustmark Dealer     236
Name: count, dtype: int64

In [22]:
data['owner'].value_counts()

owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                8128 non-null   object
 1   year                8128 non-null   int64
 2   selling_price       8128 non-null   int64
 3   km_driven           8128 non-null   int64
 4   fuel                8128 non-null   object
 5   seller_type         8128 non-null   object
 6   transmission        8128 non-null   object
 7   owner               8128 non-null   object
 8   mileage(km/ltr/kg)  8128 non-null   float64
 9   engine              8128 non-null   float64
 10  max_power           8128 non-null   float64
 11  seats               8128 non-null   float64
dtypes: float64(4), int64(3), object(5)
memory usage: 762.1+ KB

In [24]:
data = pd.get_dummies(data)

In [25]:
data.head(2)

,year,selling_price,km_driven,mileage(km/ltr/kg),engine,max_power,seats,name_BMW X4 M Sport X xDrive20d,name_Maruti Alto 800 LXI,name_Maruti Alto LXi,...,seller_type_Dealer,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Automatic,transmission_Manual,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,2014,450000,145500,23.40,1248.0,74.00,5.0,False,False,False,...,False,True,False,False,True,True,False,False,False,False
1,2014,370000,120000,21.14,1498.0,103.52,5.0,False,False,False,...,False,True,False,False,True,False,False,True,False,False

In [26]:
data.shape

(8128, 27)

In [27]:
X = data.drop('selling_price', axis=1)
y = data['selling_price']

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)

In [29]:
X_train.shape, X_test.shape

((6096, 26), (2032, 26))

In [30]:
def model_acc(model):
    model.fit(X_train, y_train)
    acc = model.score(X_test, y_test)
    print(str(model)+ ' --> ' +str(acc))

In [31]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
model_acc(lr)

from sklearn.linear_model import Lasso
lasso = Lasso()
model_acc(lasso)

from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor()
model_acc(dt)

from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
model_acc(rf)

LinearRegression() --> 0.7476174981675028

c:\Users\SAMARASINGHAGMV\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:697: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.378e+13, tolerance: 4.115e+11
  model = cd_fast.enet_coordinate_descent(

Lasso() --> 0.7476244266571537
DecisionTreeRegressor() --> 0.950722083894216
RandomForestRegressor() --> 0.9649101360373435

In [32]:
from sklearn.model_selection import GridSearchCV

parameters = {'n_estimators':[10, 50, 100],
              'criterion':['squared_error','absolute_error','poisson']}

grid_obj = GridSearchCV(estimator=rf, param_grid=parameters)

grid_fit = grid_obj.fit(X_train, y_train)

best_model = grid_fit.best_estimator_

best_model.score(X_test, y_test)

0.9622306696694553

In [33]:
X_test.columns

Index(['year', 'km_driven', 'mileage(km/ltr/kg)', 'engine', 'max_power',
       'seats', 'name_BMW X4 M Sport X xDrive20d', 'name_Maruti Alto 800 LXI',
       'name_Maruti Alto LXi', 'name_Maruti Swift Dzire VDI',
       'name_Maruti Swift VDI', 'name_Other', 'fuel_CNG', 'fuel_Diesel',
       'fuel_LPG', 'fuel_Petrol', 'seller_type_Dealer',
       'seller_type_Individual', 'seller_type_Trustmark Dealer',
       'transmission_Automatic', 'transmission_Manual', 'owner_First Owner',
       'owner_Fourth & Above Owner', 'owner_Second Owner',
       'owner_Test Drive Car', 'owner_Third Owner'],
      dtype='object')

In [34]:
import pickle
with open('predictor.pickle', 'wb') as file:
    pickle.dump(best_model, file)